body {
    background-color: #000;
}
.container-center {
    align-content: center;
    text-align: center;
  }
  .col-sm-12 h1, h3{
    color: #fff;
  }
  .col-sm-12 h1{
    font-family:'Jura', sans-serif;
  }

.home-img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}